/*
*{
	margin:80px;
	padding:180px;	
}
*/
/*div#menu{
	width:20px;
	margin-top:80px;
	
}*/

/* div#ima{
	margin:0px;
	padding: 0px;
	float:right;
	width:750px;
	inherit:50px;
	}
*/
/*
<div a{
	text-decoration:none}
div#menu ul
{
	
list-style:none;
}
*/

/*div#menu ul li {
	
	margin-top:15px;
	font-family:tahoma;
	font-size:18px;
	background-color:#000000;
	width:160px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:0px 20px 20px 0px;
	padding-left:50px;
	box-shadow:5px 0px 10px #CFF;
	-webkit-transition:padding-left 0.6s;
	color:white;
}*/

	
	/*div#menu ul li:hover{
		padding-left:70px;
		}
                */